#home{

    background: url(../assets/images/index2.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}
#app{
    background-color:  #1abc9c  ;
    min-height:19.35cm;
}